<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <WebApiClient.My.MySettings>
      <setting name="WebApiServerURI" serializeAs="String" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <value>http://prodServer/values</value>
      </setting>
      <setting name="WebApiServerURISecured" serializeAs="String" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <value>https://prodServer/values</value>
      </setting>
    </WebApiClient.My.MySettings>
  </applicationSettings>
</configuration>